body, html {
    background-color: gray;
    height: 100%;
}

#videos {
    position: relative;
    width: 100%;
    /* height: 100%;  */
    margin-left: auto;
    margin-right: auto;
}

#subscriber {
    height: 30%;
    width: 30%;
    border: 3px solid white;
    border-radius: 3px;
}

#publisher {
    height: 30%;
    width: 30%;
    border: 3px solid white;
    border-radius: 3px;
}

.incoming-message {
    text-align: left;
}
.outgoing-message {
    text-align: right;
}

#text-chat-area {
    background-color: whitesmoke;
    width: 30%;
    display: block;
}